AdSense2/
AddRegistrationQuestion/
AeliaFoundationClasses/
Alias/
AllViewed/
April1st/
Awards/
Baseline/
BirthdayModule/
BulkEdit/
ButtonBar/
Buttons/
cleditor/
CustomHomepage/
DataGenerator/
Debugger/
DiscussionEvent/
DiscussionOrigin/
DiscussionPolls/
DuivelseiFixes/
EasyMembersList/
EmojiExtender/
editor/
Emotify/
Eventi/
EventCalendar/
Example/
Facebook/
Flagging/
FlickrReloaded/
GettingStarted/
GoogleSignIn/
GooglePlus/
GooglePrettify/
Gravatar/
HtmLawed/
HiddenRoles/
IndexPhotos/
InfiniteScroll/
LastEdited/
LatestPostList/
LocaleDeveloper/
Logger/
MentionsPlus/
Multilingual/
NotifyCommentOnCommented/
OneallSocialLogin/
OpenID/
PageSpeed/
Pockets/
PostCount/
PostScheduler/
PrefixDiscussion/
PrivateCommunity/
ProfileExtender/
Quotes/
RoleTitle/
Signatures/
SplitMerge/
Spoilers/
Spoof/
Sprites/
StopForumSpam/
SuperbLogin/
Tagging/
TopicStats/
Twitter/
UnsubscribeDiscussion/
VanillaInThisDiscussion/
VanillaStats/
vanillicon/
Voting/
Warning/
WhosOnline/
*.zip