div.allowDeletionInPost
{
    display:none;
}
div.allowToDelete span.delete
{
    position:absolute;
    padding-left: 3px;
    padding-right: 3px;
    cursor:pointer;
    right:5px;
    top:5px;
}
div.allowToDelete
{
    position:relative;
}